<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="15">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Forecast</h1>
    <h4>water : {{ .water }}</h4>
    <h4>water status : {{ .waterStatus }}</h4>
    <h4>wind : {{ .wind }}</h4>
    <h4>wind status : {{ .windStatus }}</h4>
</body>
</html>